<!doctype html>
<html>
<head><title>Enter</title>
  <meta name="display" content="standalone" >
  <link rel="manifest" href="/manifest.json" >
</head>
<body>
<form action="" method="post" name="A">
Reg. no.: <input type="text" name="regno" />  <br /><br />
Name:<input type="text" name="username" />  <br /><br />
Class: <input type="text" name="class" />  <br /><br />
Web IA1 marks: <input type="text" name="marks" />  <br /><br />

<input type="radio" name="op" value="Register">Register <br>

Id: <input type="text" name="id" /><br>
<input type="radio" name="op" value="Update">Update <br>
<input type="radio" name="op" value="Delete">Delete <br>
<input type="radio" name="op" value="Retrieve">Retrieve <br>
<br>
<input type="submit" name="submit" />

</form>
</body>
</html>
